*, *::before, *::after {
  box-sizing: border-box;
  background-color: rgb(76, 76, 76);
}

body {
  padding-top: 2%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid {
  padding-bottom: 20px;
}

.first-row, .second-row, .third-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 150px;
  width: 150px;
  border: 5px solid white;
}
.cell:nth-child(1), .cell:nth-child(2) {
  border-right: none; 
}

.first-row .cell, .second-row .cell {
  border-bottom: none; 
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#replay-btn {
  font-weight: 800;
  display: none;
  min-height: 35px;
  min-width: 70px;
  padding: 5px 10px;
  color: rgb(76, 76, 76);
  border-radius: 7px;
  border: 1px solid white;
  background-color: white;
}

#footer {
  padding-top: 115px;
}

.github-icon {
  color: white;
  max-width: 15px;
}